extends layout

block content
  div.messages
  div.list
    a(href="/")
      Link Testing CA
      .ball-blue
      .ball-red
    a(href="/")
      Link Testing CB

  script(src="javascripts/lib/jquery.js")
  script(src="javascripts/index.js")