body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a:link {
  background: #FFFFFF;
  color: #008CE6;
}

a:visited {
  color: #FFFFFF;
  color: #008CE6;
}

a:hover {
  color: #FFFFFF;
  background: #008CE6;
}

a:active {
  color: #FFFFFF;
  background: blue;
}

.list {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  background: #eee;
  overflow: auto;
  overflow-x: hidden;
}

.list a {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 50px 20px;
}

.messages {
  position: fixed;
  width: 200px;
  height: 100%;
  overflow: scroll;
  right: 0;
  top: 0;
  z-index: 1000000000000;
}

.message {
  background: #fff;
  color: #999;
  font-size: 14px;
  border: 1px solid #ccc;
  text-align: center;
  width: 100%;
}

.message.mouseover {
  color: blue;
}

.message.mouseout {
  color: blue;
}

/* disabled-input */
.wrapper-disabled-input {
  width: 300px;
  height: 200px;
  background: #008ce6;
}

.wrapper-disabled-input input {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
